In [1]:
#NEED TO CHANGE EVERY FILE DIRECTORY AS I WAS TRYNG TO PUT EVERYTHING IN NEW FOLDERS

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from folium.plugins import MarkerCluster

In [3]:
circuits =pd.read_csv('../1950-2023/circuits.csv')
circuits

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park
...,...,...,...,...,...,...,...,...,...
72,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit
74,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...
75,78,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,12,http://en.wikipedia.org/wiki/Losail_Internatio...
76,79,miami,Miami International Autodrome,Miami,USA,25.95810,-80.23890,0,http://en.wikipedia.org/wiki/Miami_Internation...

In [ ]:
constructor_results = pd.read_csv('../1950-2023/constructor_results.csv')
constructor_results

In [ ]:
constructor_standings= pd.read_csv('../1950-2023/constructor_standings.csv')
constructor_standings

In [ ]:
constructors= pd.read_csv('../1950-2023/constructors.csv')
constructors

In [ ]:
driver_standings = pd.read_csv('../1950-2023/driver_standings.csv')
driver_standings

In [ ]:
drivers = pd.read_csv('../1950-2023/drivers.csv')
drivers

In [ ]:
drivers.head()

In [ ]:
drivers.duplicated().sum()

In [ ]:
num_null = (drivers['number'] == r'\N').sum()
num_null

In [ ]:
nun_null = (drivers['number'] != r'\N').sum()
nun_null

In [ ]:
# drop some values
driversd = drivers.drop(labels = ['number','code', 'url'], axis = 1)
driversd.head()

In [ ]:
# 5 youngest drivers
drivers_theyoungest = driversd.sort_values(by='dob', ascending=False)[:5]
drivers_theyoungest

In [ ]:
nationality_counts = driversd.groupby("nationality").size()
sorted_nationalities = nationality_counts.sort_values(ascending=False)
sorted_nationalities.head(10)

In [ ]:
merged_driver_standings = pd.merge(driver_standings, drivers, on='driverId', how='inner')

# Display the merged DataFrame
print(merged_driver_standings)

In [ ]:
selected_columns4 = ['driverId', 'forename', 'surname', 'nationality', 'dob']
selected_data = merged_driver_standings[selected_columns4]
selected_data

In [ ]:
# Get unique rows based on the 'driverId' column
unique_drivers = selected_data.drop_duplicates(subset=['driverId'])
unique_drivers

In [ ]:
lap_times = pd.read_csv('../1950-2023/lap_times.csv')
lap_times

In [ ]:
pit_stops = pd.read_csv('../1950-2023/pit_stops.csv')
pit_stops

In [ ]:
qualifying = pd.read_csv('../1950-2023/qualifying.csv')
qualifying

In [ ]:
races = pd.read_csv('../1950-2023/races.csv')
races

In [ ]:
races.to_excel('races_excel.xlsx')

In [ ]:
results = pd.read_csv('../1950-2023/results.csv')
results

In [ ]:
seasons = pd.read_csv('../1950-2023/seasons.csv')
seasons

In [ ]:
sprint_results = pd.read_csv('../1950-2023/drivers.csv')
sprint_results

In [ ]:
status = pd.read_csv('../1950-2023/status.csv')
status

In [ ]:
print("Number of rows and columns in each data frame:")
print("races:", races.shape)
print("constructor_results:", constructor_results.shape)
print("drivers:", drivers.shape)
print("constructors:", constructors.shape)
print("lap_times:", lap_times.shape)
print("status:", status.shape)
print("driver_standings:", driver_standings.shape)
print("seasons:", seasons.shape)
print("pit_stops:", pit_stops.shape)
print("sprint_results:", sprint_results.shape)
print("constructor_standings:", constructor_standings.shape)
print("results:", results.shape)
print("circuits:", circuits.shape)
print("qualifying:", qualifying.shape)

In [ ]:
print("\nPreview of the data frames:")
print("races:")
print(races.head())
print("\nconstructor_results:")
print(constructor_results.head())
print("\ndrivers:")
print(drivers.head())
print("\nconstructors:")
print(constructors.head())
print("\nlap_times:")
print(lap_times.head())
print("\nstatus:")
print(status.head())
print("\ndriver_standings:")
print(driver_standings.head())
print("\nseasons:")
print(seasons.head())
print("\npit_stops:")
print(pit_stops.head())
print("\nsprint_results:")
print(sprint_results.head())

In [ ]:
results

In [ ]:
lap_times

In [ ]:
circuits.head(5)

In [ ]:
df = pd.concat( 
    map(pd.read_csv, ['circuits.csv', 'constructor_results.csv','constructor_standings.csv','constructors.csv','driver_standings.csv','drivers.csv','lap_times.csv','pit_stops.csv','qualifying.csv','races.csv','results.csv','seasons.csv','sprint_results.csv','status.csv']), ignore_index=True) 
df

In [ ]:
df[['circuitId', 'circuitRef', 'name', 'location', 'country', 'lat', 'lng',
       'alt', 'constructorResultsId', 'raceId', 'constructorId', 'points',
       'status', 'constructorStandingsId', 'position', 'positionText', 'wins',
       'constructorRef', 'nationality', 'driverStandingsId', 'driverId',
       'driverRef', 'forename', 'surname', 'dob', 'lap', 'time',
       'milliseconds', 'stop', 'duration', 'qualifyId', 'q1', 'q2', 'q3',
       'year', 'round', 'date', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time',
       'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date',
       'sprint_time', 'resultId', 'grid', 'positionOrder', 'laps',
       'fastestLap', 'rank', 'fastestLapTime', 'fastestLapSpeed', 'statusId']] = df[['circuitId', 'circuitRef', 'name', 'location', 'country', 'lat', 'lng',
       'alt', 'constructorResultsId', 'raceId', 'constructorId', 'points',
       'status', 'constructorStandingsId', 'position', 'positionText', 'wins',
       'constructorRef', 'nationality', 'driverStandingsId', 'driverId',
       'driverRef', 'forename', 'surname', 'dob', 'lap', 'time',
       'milliseconds', 'stop', 'duration', 'qualifyId', 'q1', 'q2', 'q3',
       'year', 'round', 'date', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time',
       'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date',
       'sprint_time', 'resultId', 'grid', 'positionOrder', 'laps',
       'fastestLap', 'rank', 'fastestLapTime', 'fastestLapSpeed', 'statusId']].fillna(0)

In [ ]:
df

In [ ]:
duplicate_rows = df.duplicated()
duplicate_rows

In [ ]:
df.info()

In [ ]:
df.to_excel('df_excel.xlsx')

In [ ]:
print(f'The number of duplicate rows : {df.duplicated().sum()}')

In [ ]:
num_null = (df['number'] == r'\N').sum()
num_null

In [ ]:
nun_null = (df['number'] != r'\N').sum()
nun_null

In [ ]:
df = df.drop(labels = ['number','code', 'url'], axis = 1)
df.head()

In [ ]:
drivers_theyoungest = df.sort_values(by='dob', ascending=False)[:5]
drivers_theyoungest

In [ ]:
drivers_theoldest = df.sort_values(by='dob')[:5]
drivers_theoldest

In [ ]:
counts = df['name'].value_counts()
circuits_pop = pd.DataFrame({'circuitId': counts.index, 'number of times': counts.values})
circuits_pop

In [ ]:
top_10 = df['name'].value_counts()[:10]
top_10

In [ ]:
sns.set(style="darkgrid", palette="colorblind")
plt.figure(figsize=(20, 6))
ax = sns.barplot(x=top_10.index, y=top_10.values)
ax.set_title("Top 10 Circuits in F1",fontsize=25)


for i, v in enumerate(top_10):
    ax.text(i, v + 10, str(v), ha='center', fontsize=14)


plt.show()

sns.barplot(x=top_10.index, y=top_10.values, color='steelblue')
plt.figure(figsize=(40, 40))

In [ ]:
top_10.plot.bar()

In [ ]:
filtered_df = df[(df['year'] >= 2000) & (df['year'] <= 2023)]


races_per_season = filtered_df.groupby('year')['raceId'].nunique()


sns.set(style="darkgrid")
plt.figure(figsize=(20, 15))


ax = sns.barplot(x=races_per_season.index, y=races_per_season.values, palette="colorblind")

# Set the title and labels
plt.title("Number of Unique Races per Season in F1 (2000-2023)", fontsize=25)
plt.xlabel("Year",fontsize = 25)
plt.ylabel("Number of Races", fontsize = 25)

# Show the plot
plt.show()

In [ ]:
races_per_season = races.groupby('year')['raceId'].nunique()

In [ ]:
races_per_season

In [ ]:
column_headers = df.columns.tolist()
column_headers

In [ ]:
average_speed_df = filtered_df[['raceId', 'year', 'laps', 'milliseconds']]

average_speed_df['seconds'] = average_speed_df['milliseconds'] / 1000

average_speed_df['average_speed_kph'] = (average_speed_df['laps'] * 4.3) / (average_speed_df['seconds'] / 3600)


print(average_speed_df[['raceId', 'year', 'average_speed_kph']])

In [ ]:
unique_constructor_names = df[['constructorId', 'name']].drop_duplicates()
unique_constructor_names

In [ ]:
df.columns

In [ ]:
merged_df3 = pd.merge(results, lap_times ,on='raceId', how='inner',suffixes=('_results','_lap_times'))

In [ ]:
merged_df4 = pd.merge(merged_df3, races, on=['raceId'], how='inner')

In [ ]:
merged_df4

In [ ]:
merged_df4.columns

In [ ]:
merged_df4

In [ ]:
results_filtered1 = merged_df4[(merged_df4['year'] >= 2000) & (merged_df4['year'] <= 2023)]

results_filtered1